<div class="menu-left">
    <ul class="menu-list">
        <li><a class="menu-text" href="/shop/all">SHOP</a></li>
        <li><a class="menu-text" href="/home">ABOUT</a></li>
        <li><a class="menu-text" href="/coming">CHARACTERS</a></li>
        <li><a class="menu-text" href="/coming">STORIES</a></li>
        <li><a class="menu-text" href="/coming">ARCHIVE</a></li>
        <li><a class="menu-text" href="/coming">CART</a></li>
       	<li th:if="${userRole != null and (userRole == 'manager' or userRole == 'admin')}">
		    <a class="menu-text" href="/merchandise/all">management</a>
		</li>
    </ul>
</div>
<div class="menu-right">
    <ul class="menu-list">
    	<li th:if="${userId == null}"><a class="menu-text-right" href="/user/loginPage">Log in</a></li>
        <li th:if="${userId == null}"><a class="menu-text-right" href="/coming">Sign up</a></li>
        <li th:if="${userId != null}"><a class="menu-text-right" href="/user/logout">Log out</a></li>
    </ul>
</div>
